1) change the shape of the two jets such that they resemble the original jet in the real world.                                    2) size of one jet should be small and other should be bigger.                   3) allow the slow random motion of two jets same as like the motion of the two object within the square boundary.                               4) create a table at the  top right corner that displays the total lives of two objects..ie when the bullets hit the object..thn that particular life of the object should be reduced by 1.                         4) allow the bullets to be produced from the front portions of two jets.             5) create the start, resume, stop buttons at the middle bottom of  the square boundary such that these buttons sld work properly when clicked.                                  6) at the beginning there should not be any movement of the objects nor the jets.. Only when start button is clicked the game should be started